

<!--span is an inline element as opposed to a block element-->
<!--<span>Hello World! (template version)</span>-->

<!--<span>{{ number }}</span>   -->

<style>
    body {
        font-size: larger;
    }

    ul li {
        padding-left: 2px;
        margin: 2px;
    }

    ul li:nth-child(odd) {
        background-color: bisque;
    }

</style>

<h1>To Do</h1>

<form action="{% url 'todo:savetodo' %}" method="post">
    {% csrf_token %}
    <input type="text" name="todo_text"/>
    <button type="submit">add to do</button>
</form>


<ul>
    {% for todo_item in todo_items %}
    <li> {{ todo_item.todo_text}}</li>
    {% endfor %}
</ul>